.lasagna-img {
    height: 400px;
    width: auto;
}

.descriptiontitle, .ingredientstitle, .stepstitle{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.description {
    font-size: 20px;
}

#ingredients {
    text-align: left;
    font-size: 20px;
}

#steps {
    font-size: 20px;
}

#home-link {
    font-size: 18px;
}