*{
    background-color: white;
}

.homepagetitle {
    text-align: center;
    font-weight: bold;
    color: red;
    padding: 0px 10px;
    border: 3px outset red;
    border-radius: 16px;
}

#lasagnahomepage {
    height: 200px;
    width: auto;
    padding-right: 30px;
    padding-left: 30px;
}

#cookiehomepage {
    height: 200px;
    width: auto;
    padding-right: 30px;
}

#wraphomepage {
    height: 200px;
    width: auto;
}

.lasagna-img {
    height: 400px;
    width: auto;
}

.wrap-img {
    height: 300px;
    width: auto;
}

.cookie-img {
    height: 300px;
    width: 300px;
}

.descriptiontitle, .ingredientstitle, .stepstitle{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.description {
    font-size: 20px;
}

#ingredients {
    text-align: left;
    font-size: 20px;
}

#steps {
    font-size: 20px;
}